  name: Build Geode Mod

  on:
    workflow_dispatch:
      inputs:
        build_type:
          description: 'Build Type'
          required: true
          default: 'debug'
          type: choice
          options:
            - release
            - debug
    push:
      branches:
        - "**"


  jobs:
    build:
      name: Build (iOS)
      runs-on: macos-latest
      steps:
        - uses: actions/checkout@v4

        - name: Set Release Build
          run: echo "RELEASE_BUILD=${{ github.event.inputs.build_type == 'release' }}" >> $GITHUB_ENV

        - name: Build the mod
          uses: geode-sdk/build-geode-mod@main
          with:
            bindings: geode-sdk/bindings
            combine: true
            sdk: nightly
            build-config: ${{ github.event.inputs.build_type != 'release' && 'Debug' || 'Release' }}
            target: iOS

    nightly:
      name: Create Nightly Release
      runs-on: ubuntu-latest
      if: github.event.inputs.build_type != 'release'
      needs: ['build']
      permissions:
        contents:
          write

      steps:
        - uses: actions/download-artifact@v4
          with:
            path: './artifacts/'

        - name: Create Nightly Release
          uses: andelf/nightly-release@main
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            tag_name: nightly
            name: 'Development Release'
            body: |
              Development release for commit ${{ github.sha }}. Built in debug.
            files: |
              ./artifacts/geode-build-ios/*.geode

    release:
      name: Create Draft Release
      runs-on: ubuntu-latest
      if: github.event.inputs.build_type == 'release'
      needs: [ 'build' ]
      permissions:
        contents:
          write

      steps:
        - uses: actions/checkout@v4

        - uses: actions/download-artifact@v4
          with:
            path: './artifacts/'

        - name: Read mod version & mod id
          id: read_version
          run: |
            echo "MOD_VERSION=$(jq -r '.version' mod.json)" >> $GITHUB_ENV

        - name: Extract changelog section
          id: changelog
          run: |
            CHANGELOG_CONTENT=$(awk '
              /^# / { 
                if (found_first) exit; 
                found_first = 1; 
                next 
              }
              found_first { print }
            ' changelog.md)
            echo "CHANGELOG<<EOF" >> $GITHUB_ENV
            echo "$CHANGELOG_CONTENT" >> $GITHUB_ENV
            echo "EOF" >> $GITHUB_ENV

        - name: Create Draft Release
          uses: softprops/action-gh-release@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            tag_name: ${{ env.MOD_VERSION }}
            name: ${{ env.MOD_VERSION }}
            body: |
              ${{ env.CHANGELOG }}
            draft: true
            files: |
              ./artifacts/geode-build-ios/*.geode
